<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/order.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>


</head>
<body ng-app="myxmap" >
test
<div ui-view></div>
</body>
</html>