<div class="content-header">
    <h3>Store Name</h3>
    <a href="dash#!/{{storeId}}/{{catId}}/products/add" class="btn pull-right">Add Product</a>
</div>


<form class="add-form" ng-submit="saveProduct()"  enctype="multipart/form-data" action="/api/photo"  method="post">
    <div class="form-item">
        <label>Product name</label>
        <input class="form-input" ng-model="product.name">
    </div>
    <div class="form-item">
        <label>Product Description</label>
        <input class="form-input" ng-model="product.desc">
    </div>
    <div class="form-item">
        <label>Price</label>
        <input class="form-input" ng-model="product.price">
    </div>
    <div class="form-item">
        <input type="file" name="{{catId}}_{{product.name}}" ng-model="product.image"/>
        </div>
    <button type="submit">Submit</button>
</form>