<div class="content-header">
    <p>Add Product</p>
    <a href="dash#!/{{storeId}}/{{catId}}/products/add" class="btn pull-right">Add Product</a>
</div>


<form class="add-form" ng-submit="saveProduct()"  enctype="multipart/form-data" action="/api/photo"  method="post">
    <div class="form-item">
        <label>Product name</label>
        <input class="form-input" ng-model="product.name">
    </div>


    <div class="form-item">
        <label>
            <input type="file" name="{{product.name}}" ng-model="product.image" id="addbtn"/>
        </label>
    </div>
    <div class="form-item">
        <label>Product Description</label>
        <textarea class="form-input" ng-model="product.desc"/></textarea>
    </div>
    <div class="form-item">
        <label>Price</label>
        <input class="form-input price" ng-model="product.price">
    </div>
    <button type="submit">Submit</button>
</form>