<form class="add-form" ng-submit="saveCategory()">
    <div class="form-item">
        <label>Product name</label>
        <input class="form-input" ng-model="category.name">
    </div>
    <button type="submit">Submit</button>
</form>