<div class="content-header">
    <h3>Store Name</h3>
    <a href="dash#!/{{storeId}}/categories/add" class="btn pull-right">Add Product</a>
</div>


<form class="add-form" ng-submit="saveCategory()">
    <div class="form-item">
        <label>Product name</label>
        <input class="form-input" ng-model="category.name">
    </div>
    <button type="submit">Submit</button>
</form>