<div class="content-header">
    <h3>Add Stores</h3>
    <a href="dash#!/stores/add" class="btn pull-right">Add Store</a>
</div>


<form class="add-form" ng-submit="saveStore()">
    <div class="form-item">
        <label>Store name</label>
        <input class="form-input" ng-model="stories.name">
    </div>
    <button type="submit">Submit</button>
</form>