


<div ng-repeat="product in products" class="product-container">
    <div class="product-box">
        <h3>{{product.name}}</h3>
    </div>
    <a href="#" class="info">info </a><a href="#" class="edit">edit</a>
</div>