<div ng-repeat="product in products" class="product-container">
    <div class="product-box">
        <img ng-src='/images/{{product.image}}' width="200px;"/>
        <p class="product-name"> <strong>{{product.name}}</strong></p>
    </div>
    <a href="#" class="info">info </a><a href="#" class="edit">edit</a>
</div>