<br>
<br>
Your ID: {{id}}

 

<h4>User info and Store list:</h4>
 
http://104.131.89.50:3000/api/user/$YOUR_ID


 
 

<h4>Categories in a $store</h4>
 
 

http://104.131.89.50:3000/api/user/$YOUR_ID/$STORE_ID
 
 
<h4>Products in a $store >> $category</h4>
 
 

http://104.131.89.50:3000/api/user/$YOUR_ID/$STORE_ID/$CATEGORY_ID

 
 
<h4>One product</h4>
 
 
http://104.131.89.50:3000/api/user/$YOUR_ID/$STORE_ID/$CATEGORY_ID/$PRODUCT_ID
 
 
<h4>All products in a $USER</h4>
 
 
<a href="dash#!/api/demo">http://104.131.89.50:3000/api/user/products/$YOUR_ID</a>

 
 
