<div class="content-header">
    <p><a href="dash#!/stores">{{categories.name}}</a> /</p>
    <a href="dash#!/{{storeId}}/categories/add" class="btn pull-right">Add Category</a>
</div>




<div ng-repeat="category in categories.categories">
      <a href="dash#!/{{storeId}}/{{category._id}}/products/"><button class="btn-home">{{category.name}}</button></a>
    </div>