<div class="home">
    <div class="home-wrapper">
        <h3>Welcome to your dashboard</h3>
        <button class="btn-home"><a href="dash#!/stores">See your stores</a></button>
        <button class="btn-home"><a href="dash#!/stores">See statistics</a></button>
        <button class="btn-home"><a href="dash#!/stores">Manage orders</a></button>
        <button class="btn-home"><a href="dash#!/stores">Create widgets</a></button>
        <button class="btn-home"><a href="dash#!/stores">Edit profile</a></button>
    </div>
</div>