<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body ng-app="myxmap">
<div id="header">
    <h3>DASHBOARD</h3>

</div>
<div class="wrapper">
    <div class="left-menu">
        <div class="user-info">
            <div ng-controller="NavCtrl">
                <h3>{{ currentUser() }}</h3>
                <p> {{ currentId() }} </p>
                <a href="" ng-click="logOut()">Log Out</a>
            </div>
        </div>
        <ul>
            <li> <a href="dash#!/stores">Your Stores</a></li>
            <li> <a href="dash#!/stores">Categories</a></li>
            <li> <a href="dash#!/stores">Products</a></li>
            <li> <a href="#">Statistics</a></li>
            <li> <a href="#">Orders</a></li>
            <li> <a href="#">Widgets</a></li>

        </ul>
    </div>


    <div class="content">


        <div ui-view></div>

    </div>
</div>
</body>
</html>
