
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>product</th>
        <th>#</th>
        <th>..</th>
        <th>processed?</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="order in orders">
        <td>{{order.name}}</td>
        <td>{{order.email}}</td>
        <td>{{order.productName}}</td>
        <td>{{order.count}}</td>
        <td>See more</td>
        <td ng-if="order.process==0" class="col-md-2">Nope</td>
        <td ng-if="order.process==1">Yup</td>
        </tr>
    </tbody>
    </table>