<div class="content-header" ng-controller="sideCtrl">
    <p><a href="dash#!/stores"> {{store}} </a> / <a href="dash#!{{storeId}}/categories/">{{category[0].name}}</a>
        <a href="dash#!{{storeId}}/{{catId}}/products/"> / Products</a></p>
    <a href="dash#!{{storeId}}/{{catId}}/products/add" class="btn pull-right">Add Product</a>
</div>

<img src='images/{{products.image}}' width="300px;"/>
<br>
product name: {{products.name}}
<br>
product price: {{products.price}}
<br>
product desc: {{products.desc}}
<br>
product category: {{category[0].name}}

<div ng-repeat="stor in products.store">
product in store: {{stor.name}}
    </div>
