<div class="content-header">
    <p>Stores</p>
    <a href="dash#!/stores/add" class="btn pull-right">Add Store</a>
</div>

<div ng-repeat="store in stores">
    <a href="dash#!/{{store._id}}/categories/" ng-click="localStore()">
        {{store.name}}
    </a>
</div>