<div class="content-header">
    <h3>Stores</h3>
    <a href="dash#!/stores/add" class="btn pull-right">Add Product</a>
</div>

<div ng-repeat="store in stores">
    <a href="dash#!/{{store._id}}/categories/">
        {{store.name}}
    </a>
</div>