<!DOCTYPE html>
<html>
<head>
    <title>Ttt</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>

    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body ng-app="myxmap" ng-controller="indexCtrl" class="homepage">


<div class="home-stuff">
    <div class="header">
    </div>
    <img src="public_img/kymbo.png" class="h-logo">
    <br/>
    <a href="/getstarted"><span class="bracket">[</span><span class="link">GET STARTED</span><span class="bracket">]</span></a>
    <a href="/docs"><span class="bracket">[</span><span class="link">DOCS</span><span class="bracket">]</span></a>
    <a href="/about"><span class="bracket">[</span><span class="link">ABOUT</span><span class="bracket">]</span></a>
</div>
</body>
</html>
