<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>

    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body ng-app="myxmap" ng-controller="indexCtrl">
<div>
    Welcome <br>
    <a href="/login"><button class="btn-home">Log In</button></a>
    <a href="/register"><button class="btn-home">Sign Up</button></a>
</div>
</body>
</html>
