<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="javascripts/login.js"></script>
    <script src="javascripts/userFactory.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
</head>
<body ng-app="myxmap" ng-controller="loginCtrl">

<div class="login">
    <div class="error">
        <p>{{error}}</p>
    </div>

    <div class="form-wrapper">
    <form ng-submit="register()" name="form" novalidate>
        <p class="form-header">Sign Up</p>

        <div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && !form.username.$pristine }">
            <input type=username"
                   name="username"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username"></input>
        </div>
        <div class="form-group">
            <input type="password"
                   name="password"
                   id="password"
                   ng-model="password"
                   required,
                   match="user.password"
                   class="form-control"
                   placeholder="Password"></input>
        </div>
        <div class="form-group">
            <input type="password"
                   name="user.password"
                   id="user.password"
                   ng-model="user.password"
                   required,
                   match="password"
                   class="form-control"
                   placeholder="Repeat Password"
                  ></input>
            <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.match &amp;&amp; !form.password.$error.required" class="help-block">Passwords don't match</span>
        </div>
        <button type="submit" class="btn btn-login"  ng-disabled="form.$invalid">Get Started</button>
        <p class="sign-up-link">Have an account?<a href="/login">Login now!</a></p>
    </form>
</div>
    </div>
</body>
</html>